jre_windows/
jre_linux/
.env
dist/
build/
bin/
node_modules
.DS_Store
.idea/desktop-app.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/watcherTasks.xml
.idea/workspace.xml
accounts.dat*
.idea/
cloudsearch-darwin-x64/
out.log
yarn-error.log
/cache_*.dat*
out/
accounts.db
favorites.db
index.bleve/index_meta.json
index.bleve/store
README_LOCAL.md
desktop-agent/ocr.png
archive/cloudsearch_kotlin/cloud/cloudsearch.cloud.iml
archive/cloudsearch_kotlin/cloud/cloudsearch.cloud.main.iml
archive/cloudsearch_kotlin/cloud/cloudsearch.cloud.test.iml
archive/cloudsearch_kotlin/cloud/cloud.iml
archive/cloudsearch_kotlin/cloud/cloud_main.iml
archive/cloudsearch_kotlin/cloud/cloud_test.iml
archive/cloudsearch_kotlin/cloudsearch.iml
archive/cloudsearch_kotlin/cloudsearch_kotlin.ipr
archive/cloudsearch_kotlin/cloudsearch_kotlin.iws
archive/cloudsearch_kotlin/common/cloudsearch.common.iml
archive/cloudsearch_kotlin/common/cloudsearch.common.main.iml
archive/cloudsearch_kotlin/common/cloudsearch.common.test.iml
archive/cloudsearch_kotlin/common/common.iml
archive/cloudsearch_kotlin/common/common_main.iml
archive/cloudsearch_kotlin/common/common_test.iml
archive/cloudsearch_kotlin/common/src/test/resources/.env.test
archive/cloudsearch_kotlin/embedded/cloudsearch.embedded.iml
archive/cloudsearch_kotlin/embedded/cloudsearch.embedded.main.iml
archive/cloudsearch_kotlin/embedded/cloudsearch.embedded.test.iml
archive/cloudsearch_kotlin/embedded/embedded.iml
archive/cloudsearch_kotlin/embedded/embedded_main.iml
archive/cloudsearch_kotlin/embedded/embedded_test.iml
archive/cloudsearch_web_rails/.env.development
archive/cloudsearch_web_rails/.env.production
archive/cloudsearch_web_rails/SCRATCHPAD
archive/cloudsearch_web_rails/Vagrantfile