*.db
tmp/
p/
w/
.env.test
.idea
indices/
cloudsearch
.env
.DS_Store
cloudsearch_go
prefs.db
cloudsearch.json
.bleve
test.bleve
trace.log
notes.txt
bleve-explorer
go
go-desktop-agent.iml
go-desktop-agent.ipr
go-desktop-agent.iws
cloudsearch.iml
index.bleve/index_meta.json
index.bleve/store
cloudsearch.bin
main
cmd/app/ui
cmd/app/pages/settings.qmlc
cmd/app/rcc_cgo_darwin_darwin_amd64.go
cmd/app/main.qmlc
cmd/app/moc.cpp
cmd/app/moc.go
cmd/app/moc.h
cmd/app/moc_cgo_darwin_darwin_amd64.go
cmd/app/moc_moc.h
cmd/app/common/LabelHeadline.qmlc
pkg/storage/bleve/index.bleve/index_meta.json
pkg/storage/bleve/index.bleve/store
pkg/storage/bleve/indexcontent_type.bleve/index_meta.json
pkg/storage/bleve/indexcontent_type.bleve/store
pkg/storage/bleve/indexfav.bleve/index_meta.json
pkg/storage/bleve/indexfav.bleve/store
pkg/storage/rice/rice-box.go
cloudsearch.log
pkg/search/bleve/index*.bleve
pkg/index.bleve
cloudsearch.exe
cloudsearch.bin